@font-face {
    font-family: 'koodak';
    src: url('../font/BKoodakBold.eot?#') format('eot'),
         url('../font/BKoodakBold.woff') format('woff'),
         url('../font/BKoodakBold.ttf') format('truetype');
}
@font-face {
    font-family: 'titr';
    src: url('../font/BTitrBold.eot?#') format('eot'),
         url('../font/BTitrBold.woff') format('woff'),
         url('../font/BTitrBold.ttf') format('truetype');
}
@font-face {
    font-family: 'title';
    src: url('../font/Mj_FarsiSimpleNormal.eot?#') format('eot'),
         url('../font/Mj_FarsiSimpleNormal.woff') format('woff'),
         url('../font/Mj_FarsiSimpleNormal.ttf') format('truetype');
}
@font-face {
    font-family: 'magnolia';
    src: url('../font/Magnolia-Script.eot?#') format('eot'),
         url('../font/Magnolia-Script.woff') format('woff'),
         url('../font/Magnolia-Script.ttf') format('truetype'),
         url('../font/Magnolia-Script.woff2') format('woff2'),
         url('../font/Magnolia-Script.svg') format('svg');
}
@font-face {
	font-family: 'Andalus';
	src: url('Andalus.eot');
	src: url('Andalus.eot?#iefix') format('embedded-opentype'),
		url('Andalus.woff2') format('woff2'),
		url('Andalus.woff') format('woff'),
		url('Andalus.ttf') format('truetype'),
		url('Andalus.svg#Andalus') format('svg');
	font-weight: normal;
	font-style: normal;
}
