/*
Theme Name: bigprs
Theme URI: http://underscores.me/
Author: عدنان احمدی
Author URI: http://www.bigprs.com
Description: this them is a private them and created just for bigprs.com
Version: 1.2
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: bigprs
Tags: One Column,Right Sidebar,Custom Header,Editor Style,RTL Language Support,Translation Ready,Blog,E-Commerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

bigprs is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Custom Typography
# Typography
# Elements
# Forms
# Custom Stiky Bar
    ## Custom Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
	## Custom Widgets
# Custom Header
# Content
    ## Custom Page Title
        ## Posts and pages
            ## Comments
                ### Custom Comments
                ### Comments Respond
    ## Custom Table
	## Custom Search & Result
# Infinite scroll
# Media
    ## Captions
    ## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: koodak, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	font-size: 16px;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0em 0;
	font-family: titr, Arial, sans-serif;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
	direction: ltr;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Custom Typography
--------------------------------------------------------------*/

#page {
	width: 90%;
	margin: 0px auto;
}
:root {
	font-size: 16px;
}
p.attachment {
	text-align: center;
}
@media screen and (max-width: 800px) and (max-width: 50rem) {
	#page {
		margin-top: 50px;
		margin-top: 3.125rem;
		width: 100%;
	}
	.site-content {
		width: 90%;
		margin: 1rem auto 0rem;
		position: relative;
	}
}
@media screen and (max-width: 360px) and (max-width: 22.5rem) {
	#page {
		width: 100%;
	}
	.site-content {
		width: 100%;
	}
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: koodak, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.7;
}
* {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 900;
	font-family: titr, Arial, sans-serif;
	margin: 0;
}
h1, .h1 {
	font-size: 150%;
}
h2, .h2 {
	font-size: 140%;
}
h3, .h3 {
	font-size: 130%;
}
h4, .h4 {
	font-size: 120%;
}
h5, .h5 {
	font-size: 110%;
}
h6, .h6 {
	font-size: 100%;
}
.step {
	font-size: 95%;
	line-height: 0;
	background: #d8f2ff;
	background: hsl(200, 100%, 92%);
	/*padding: 0px 10px ;
	padding: 0em .625em ;*/
	padding: 0px 7px 0px 10px;
	padding: 0rem .4375rem 0rem .625rem;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-border-radius: .1875rem;
	   -moz-border-radius: .1875rem;
	        border-radius: .1875rem;
	margin-left: 5px;
	margin-left: .3125rem;
	color: #2f2f2f;
	color: hsl(0, 0%, 18%);
	border-right: 3px solid #0af;
	border-right: .1875rem solid hsl(200, 100%, 50%);
}
p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.7em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}
blockquote {
	border-right: 10px solid #bce4f9;
	border-right: .625rem solid hsl(201, 84%, 86%);
	padding: 10px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 0px 0px 2px 0px #0af;
	   -moz-box-shadow: 0px 0px 2px 0px #0af;
	        box-shadow: 0px 0px 2px 0px #0af;
	-webkit-box-shadow: 0px 0px .125rem 0px hsl(200, 100%, 50%);
	   -moz-box-shadow: 0px 0px .125rem 0px hsl(200, 100%, 50%);
	        box-shadow: 0px 0px .125rem 0px hsl(200, 100%, 50%);
}
blockquote:before {
	content: '"';
	line-height: 0;
	margin-right: -.6em;
	margin-bottom: -1.2em;
	display: block;
	font: italic 400%/1 Cochin , title, sans-serif;
	color: #bce4f9;
	color: hsl(201, 100%, 78%);
}
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol,
ol.children,
ul.children {
	margin: 0 1.5rem 1.5em 0em;
	padding: 0 .5rem 0 0;
	list-style-position: inside;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border: 0.0625rem solid;
	border-color: PowderBlue
		            PowderBlue
		            SkyBlue;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-border-radius: 0.3125rem;
	   -moz-border-radius: 0.3125rem;
	        border-radius: 0.3125rem;
	background: #00a1ff;
	color: #fff;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-size: 1rem;
	font: 100%/1 cochin, koodak,magnolia, sans-serif;
	line-height: 1;
	padding: .715rem 1rem .515rem;
	-webkit-transition: color .15s, -webkit-box-shadow .15s, border .15s;
	   -moz-transition: color .15s, -moz-box-shadow .15s, border .15s;
	     -o-transition: color .15s, box-shadow .15s, border .15s;
	        transition: color .15s, box-shadow .15s, border .15s;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 2px #0af;
	   -moz-box-shadow: inset 0px 0px 2px #0af;
	        box-shadow: inset 0px 0px 2px #0af;
	-webkit-box-shadow: inset 0px 0px 0.125rem #0af;
	   -moz-box-shadow: inset 0px 0px 0.125rem #0af;
	        box-shadow: inset 0px 0px 0.125rem #0af;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: DeepSkyBlue
		            DodgerBlue
		            DodgerBlue ;
	-webkit-box-shadow: inset 0px 0px 4px #0af;
	   -moz-box-shadow: inset 0px 0px 4px #0af;
	        box-shadow: inset 0px 0px 4px #0af;
	-webkit-box-shadow: inset 0rem 0rem 0.25rem #0af;
	   -moz-box-shadow: inset 0rem 0rem 0.25rem #0af;
	        box-shadow: inset 0rem 0rem 0.25rem #0af;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
/* 	-webkit-box-shadow: inset 0px 0px 8px orangered;
	   -moz-box-shadow: inset 0px 0px 8px orangered;
	        box-shadow: inset 0px 0px 8px orangered;
	-webkit-box-shadow: inset 0rem 0rem 0.5rem hsl(16, 100%, 50%);
	   -moz-box-shadow: inset 0rem 0rem 0.5rem hsl(16, 100%, 50%);
	        box-shadow: inset 0rem 0rem 0.5rem hsl(16, 100%, 50%); */
	background: orangered;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #45869C;
	color: rgba(0, 105, 172,.7);
	border: 1px solid #73B0C5;
	border: 0.0625rem solid #73B0C5;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-border-radius: 0.625rem;
	   -moz-border-radius: 0.625rem;
	        border-radius: 0.625rem;
	padding: 3px 5px;
	padding: 0.1875rem 0.3125rem;
	-webkit-transition: all .18s;
	   -moz-transition: all .18s;
	     -o-transition: all .18s;
	        transition: all .18s;
	-webkit-box-shadow: inset 0px 0px 2px #0af;
	   -moz-box-shadow: inset 0px 0px 2px #0af;
	        box-shadow: inset 0px 0px 2px #0af;
	-webkit-box-shadow: inset 0rem 0rem 0.125rem #0af;
	   -moz-box-shadow: inset 0rem 0rem 0.125rem #0af;
	        box-shadow: inset 0rem 0rem 0.125rem #0af;
}

select {
	border: 1px solid #ccc;
	border: 0.0625rem solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #0069AC;
	border: 1px solid;
	border: 0.0625rem solid;
	border-color: #0069AC;
	-webkit-box-shadow: inset 0px 0px 3px #0af;
	   -moz-box-shadow: inset 0px 0px 3px #0af;
	        box-shadow: inset 0px 0px 3px #0af;
	-webkit-box-shadow: inset 0rem 0rem 0.1875rem #0af;
	   -moz-box-shadow: inset 0rem 0rem 0.1875rem #0af;
	        box-shadow: inset 0rem 0rem 0.1875rem #0af;
}

textarea {
	width: 100%;
}
@media screen and (max-width: 800px) and (max-width: 50rem) {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
		width: 100%;
	}
}

/*--------------------------------------------------------------
# Custom Stiky Bar
--------------------------------------------------------------*/

.sticky-bar {
	position: absolute;
	background: #444;
	padding: 5px;
	background: transparent;
	z-index: 1;
	right: 60%;
	width: 300px;
	width: 18.75rem;
	padding-top: 10px;
	padding-top: .625rem;
}

.sticky-bar.fix {
	position: fixed;
	-webkit-animation: fixed-animat .2s 1;
	   -moz-animation: fixed-animat .2s 1;
	     -o-animation: fixed-animat .2s 1;
	        animation: fixed-animat .2s 1;
	top: 0;
	right: 0;
	width: 100%;
	height: 50px;
	z-index: 9999;
	background: #333;
	/* border-bottom: 5px solid #0af; */
}

@-webkit-keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}

@-moz-keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}

@-o-keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}

@keyframes fixed-animat {
	from { top: -100px; }
	to { top: 0px; }
}
/*--------------------------------------------------------------
## Custom Forms
--------------------------------------------------------------*/

.sticky-bar .sticky-search-form {
	display: inline-block;
	vertical-align: middle;
	margin-left: -100px;
	padding-left: 50px; 
	width: 100%;
}
.sticky-bar.active .search-form {
	width: 100%;
	opacity: 1;
}
.sticky-bar .search-form {
	opacity: .5;
	-webkit-transition: width .3s,
		opacity .3s .05s ease-out;
	   -moz-transition: width .3s,
		opacity .3s .05s ease-out;
	     -o-transition: width .3s,
		opacity .3s .05s ease-out;
	        transition: width .3s,
		opacity .3s .05s ease-out;
	overflow: hidden;
	width: 0%;
}

.sticky-bar .search-form .search-field {
/* 	border: 1px solid black; */
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	padding: 0px 5px;
	-webkit-box-shadow: inset 0px 0px 2px green;
	   -moz-box-shadow: inset 0px 0px 2px green;
	        box-shadow: inset 0px 0px 2px green;
	color: green;
	border: 1px solid green;
	margin-left: -40px;
	margin-left: -2.5rem;
}
.sticky-bar .search-form .search-icon{
	margin-right: 9px;
	margin-right: .5625rem;
}
.sticky-bar  .search-icon-sticky i{
	line-height: 0;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
.sticky-bar  .search-icon-sticky {
	vertical-align: top;
	font-size: 110%;
	display: inline-block;
	color: rgb(0, 135, 255);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: transparent;
	padding: 6px 6px;
	padding: .375rem .375rem;
	cursor: pointer;
	margin: 0px 5px;
	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: -moz-transform .3s;
	     -o-transition: -o-transform .3s;
	        transition: transform .3s;
}
.sticky-bar.active  .search-icon-sticky {
	-webkit-transform: rotate(6.3rad);
	   -moz-transform: rotate(6.3rad);
	    -ms-transform: rotate(6.3rad);
	     -o-transform: rotate(6.3rad);
	        transform: rotate(6.3rad);
}

.error404 .search-submit,
.search .search-submit,
.sticky-search-form .search-submit { 
/*     display: none;  */
}
.no-results ,
.not-found {
	margin-bottom: 8px;
	margin-bottom: .5rem;
	background: white;
	background: hsl(0, 0%, 100%);
	border: 1px solid;
	border: .0625rem solid;
	border-color: #73d0ff #6acbfb #67ccff;
	border-color: hsl(200, 100%, 73%) hsl(200, 95%, 70%) hsl(200, 100%, 70%);
	border-radius: 5px;
	border-radius: .3125rem;
	padding: 5px;
	padding: .3125rem;
}


@media screen and (max-width: 800px) and (max-width: 50rem) {
	.sticky-bar {
		position: fixed;
		-webkit-animation: fixed-animat .2s 1;
		   -moz-animation: fixed-animat .2s 1;
		     -o-animation: fixed-animat .2s 1;
		        animation: fixed-animat .2s 1;
		top: 0;
		right: 0;
		width: 100%;
		height: 50px;
		z-index: 9999;
		background: #333;
		border-bottom: none;
	}
	.sticky-bar .search-icon-sticky {
		vertical-align: top;
		margin-right: 60px;
	}
	
	.sticky-bar .sticky-search-form {
		padding-left: 150px; 
	}
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
	text-decoration: none;
	-webkit-transition: color .15s;
	   -moz-transition: color .15s;
	     -o-transition: color .15s;
	        transition: color .15s;
}

a:after,
a:before {
	-webkit-transition: color .15s;
	   -moz-transition: color .15s;
	     -o-transition: color .15s;
	        transition: color .15s;
}

a:visited {
	color: orangered;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: table;
	display: inline-block;
	width: 100%;
	background: #444;
	background: hsl(0, 0%, 27%);
	background: hsla(200, 100%, 50%, 0.52);
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-right: 0;
	clear: both;
}

.main-navigation li {
	float: right;
	position: relative;
	border: 1px solid #222;
	border: 0.0625rem solid rgba(255, 255, 255, 0.8);
}

.main-navigation a {
	position: relative;
	display: block;
	text-decoration: none;
	padding: 10px 10px 10px 30px;
	padding: .625rem .625rem .625rem 1.875rem;
	background: #00aaff;
	background: hsl(200, 100%, 50%);
	color: #fff;
	color: hsl(0, 0%, 100%);
	overflow: hidden;
	-webkit-transition: padding .3s;
	   -moz-transition: padding .3s;
	     -o-transition: padding .3s;
	        transition: padding .3s;
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a.focus {
	padding: 10px 20px 10px 20px;
	padding: .625rem 1.25rem .625rem 1.25rem;
}
.main-navigation a:before {
	content: "";
	border: solid;
	border-color: transparent white transparent transparent;
	border-width: 10px 10px 10px 0px;
	border-width: .625rem .625rem .625rem 0px;
	position: absolute;
	top: 12px;
	top: .75rem;
	color: #ffffff;
	right: -10px;
	right: -0.625rem;
	padding: 0px 5px;
	padding: 0rem 0.3125rem;
	font-size: xx-large;
	line-height: 0;
	-webkit-transition:right .3s;
	   -moz-transition:right .3s;
	     -o-transition:right .3s;
	        transition:right .3s;
}

.main-navigation a:hover:before,
.main-navigation a:focus:before,
.main-navigation a.focus:before {
	right: 0%;
}

.main-navigation li ul {
	-webkit-box-shadow: 0 3px 3px #ccc;
	   -moz-box-shadow: 0 3px 3px #ccc;
	        box-shadow: 0 3px 3px #ccc;
	-webkit-box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.2);
	float: right;
	position: absolute;
	top: auto;
	right: 0%;
	z-index: 99999;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: -moz-transform .3s;
	     -o-transition: -o-transform .3s;
	        transition: transform .3s;
	-webkit-transform-origin: right top;
	   -moz-transform-origin: right top;
	    -ms-transform-origin: right top;
	     -o-transform-origin: right top;
	        transform-origin: right top;
}

.main-navigation li:hover li ul,
.main-navigation li:focus li ul,
.main-navigation li.focus li ul {
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
}

.main-navigation li:hover ul,
.main-navigation li:focus ul,
.main-navigation li.focus ul,
.main-navigation li:hover li:hover ul,
.main-navigation li:focus li:focus ul,
.main-navigation li.focus li.focus ul {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

.main-navigation ul ul ul {
	right: 100%;
	top: 0;
}

.page-item_has_children > a:after {
	line-height: 0;
	content: "\f103";
	font-family: fontawesome;
	font-size: 120%;
	background: hsl(200, 88%, 72%);
	color: hsl(200, 100%, 50%);
	padding: 10px 3px;
	margin-left: 0px;
/* 	padding: 0.125rem; */
	position: absolute;
/* 	border: 1px solid black;
	border: 0.0625rem solid black; */
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	top: 1px;
	left: 1px;
	top: 0.0625rem;
	left: 0.0625rem;
	-webkit-transition: .15s;
	   -moz-transition: .15s;
	     -o-transition: .15s;
	        transition: .15s;
}
.page_item_has_children > a:hover:after {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}

.main-navigation li ul li {
	width: 100%;
	min-width: 200px;
	min-width: 12.5rem;	
	max-width: 100%;
}
.main-navigation ul ul a {
	display: block;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	padding: 10px 20px 10px 20px;
/* 	padding: 0rem 0.9375rem 0rem 0.3125rem; */
}
.main-navigation .current_page_item > a:after ,
.main-navigation .current-menu-item > a:after ,
.main-navigation .current_page_ancestor > a:after ,
.main-navigation .current-menu-ancestor > a:after {
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
	        transform: rotateX(180deg);
}

.main-navigation .current_page_item > a:before,
.main-navigation .current-menu-item > a:before,
.main-navigation .current_page_ancestor > a:before,
.main-navigation .current-menu-ancestor > a:before {
	content: "";
	border: solid;
	border-color: transparent white transparent transparent;
	border-width: 10px 10px 10px 0px;
	border-width: .625rem .625rem .625rem 0px;
	position: absolute;
	top: 12px;
	top: .75rem;
	color: #ffffff;
  	right: 0%;
	padding: 0px 5px;
  	padding: 0rem .3125rem;
	font-size: xx-large;
	line-height: 0;
	opacity: 1;
}
.menu-toggle {
	display: none;
	height: 50px;
	width: 50px;
}
.main-navigation.toggled > ul {
	display: block;
}
.main-navigation ul {
	display: block;
}

@media screen and (max-width: 800px) and (max-width: 50rem) {
	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
		z-index: 10000;
	}
	.main-navigation {
		position: fixed;
		display: block;
		clear: both;
		top: 0;
		right: 0;
		z-index: 99990;
		height: 50px;
		width: 50px;
		-webkit-transition: .3s;
		   -moz-transition: .3s;
		     -o-transition: .3s;
		        transition: .3s;
	}
	#show-navigation {
		height: 0px;
		width: 0px;
	}
	.main-navigation.toggled #show-navigation {
		overflow: auto;
		height: 100%;
		width: 100%;
	}
	.main-navigation.toggled {
		display: block;
		height: 100%;
		width: 100%;
	}
	.main-navigation ul {
		display: block;
		width: 100%;
		height: 100%;
		-webkit-transition: .1s;
		   -moz-transition: .1s;
		     -o-transition: .1s;
		        transition: .1s;
		-webkit-transform: scale(0);
		   -moz-transform: scale(0);
		    -ms-transform: scale(0);
		     -o-transform: scale(0);
		        transform: scale(0);
		-webkit-transform-origin: top right;
		   -moz-transform-origin: top right;
		    -ms-transform-origin: top right;
		     -o-transform-origin: top right;
		        transform-origin: top right;
	}
	.main-navigation.toggled ul {
		display: block;
		width: 100%;
		height: 100%;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}
	.main-navigation li {
		float: none;
		border-width:3px 5px 0px 0px;
		border-width:.1875rem .3125rem 0rem 0rem;
		border-color: #aaa #444 #444 #888;
	}
	.main-navigation li ul {
		position: relative;
		float: none;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: none;
		   -moz-transition: none;
		     -o-transition: none;
		        transition: none;
	}
	.main-navigation ul ul {
		float: none;
		clear: both;
		position: relative;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: none;
		   -moz-transition: none;
		     -o-transition: none;
		        transition: none;
	}
	.main-navigation ul ul ul {
		float: none;
		clear: both;
		position: relative;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: none;
		   -moz-transition: none;
		     -o-transition: none;
		        transition: none;
		right: 0%;
	}
	
	.main-navigation ul ul a {
		width: 100%;
	}
	.main-navigation li:hover li ul,
	.main-navigation li:focus li ul,
	.main-navigation li.focus li ul {
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
	}

	.main-navigation .current_page_item > a,
	.main-navigation .current-menu-item > a,
	.main-navigation .current_page_ancestor > a,
	.main-navigation .current-menu-ancestor > a {
		background: #00dcff;
	}
	
	.main-navigation .current_page_item.page_item_has_children > a:after,
	.main-navigation .current-menu-item.page_item_has_children > a:after,
	.main-navigation .current_page_ancestor > a:after,
	.main-navigation .current-menu-ancestor > a:after {
		display: none;
	}
	.main-navigation .current_page_item.page_item_has_children > a:before,
	.main-navigation .current-menu-item.page_item_has_children > a:before,
	.main-navigation .current_page_ancestor > a:before,
	.main-navigation .current-menu-ancestor > a:before {
		content: "\00bb";
		position: absolute;
		top: 0%;
		color: white;
		right: 0%;
		padding: 0% 5px;
		padding: 0% .3125rem;
		font-size: xx-large;
		line-height: 0;
		opacity: 1;
	}
	
	.main-navigation .page_item_has_children > a:before,
	.main-navigation .page_item_has_children > a:before,
	.main-navigation .current_page_ancestor > a:before,
	.main-navigation .current-menu-ancestor > a:before {
		top: 0%;
		margin: 13px 0px 5px 13px;
		margin: .8125rem 0rem .3125rem .8125rem;
	}
	
	.main-navigation .current_page_item,
	.main-navigation .current-menu-item,
	.main-navigation .current_page_ancestor,
	.main-navigation .current-menu-ancestor{
		border-color:lightblue hsl(200, 100%, 55%);
	}
}

.site-main .comment-navigation {
	display: block;
	margin: 0 0 1.5rem;
	overflow: hidden;
}
.site-main .comment-navigation a {
	color: #bb0097;
	color: hsl(312, 100%, 37%);
}
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
	/*border-color: #00ff4c;
	border-color: #00ff4c;
	border-width: 1px 0 1px;
	border-width: .0625rem 0 .0625rem;
	border-style: solid;*/
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
	width: 50%;
}
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a,
.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a {
	font-family: fontawesome, koodak, sans-serif;
	border: none;
	outline: none;
	color: #005980;
}
.comment-navigation .nav-previous a:after ,
.comment-navigation .nav-next a:before {
	color: #005980;
	display: inline-block;
}
.comment-navigation .nav-previous a:before {
	content: "\f054";
	margin-left: 10px;
	margin-left: .625rem;
}
.comment-navigation .nav-next a:after {
	content: "\f053";
	margin-right: 10px;
	margin-right: .625rem;
}
.posts-navigation .nav-previous a:before,
.post-navigation .nav-previous a:before {
	content: "\f054";
	padding-left: 16px;
	padding-left: 1rem;
}
.posts-navigation .nav-next a:after,
.post-navigation .nav-next a:after {
	content: "\f053";
	padding-right: 16px;
	padding-right: 1rem;
}
.nav-previous a:hover,
.nav-previous a:focus,
.nav-previous a.focus,
.nav-previous a:hover:after,
.nav-previous a:focus:after,
.nav-previous a.focus:after,
.nav-previous a:hover:before,
.nav-previous a:focus:before,
.nav-previous a.focus:before,
.nav-next a:hover,
.nav-next a:focus,
.nav-next a.focus,
.nav-next a:hover:after,
.nav-next a:focus:after,
.nav-next a.focus:after,
.nav-next a:hover:before,
.nav-next a:focus:before,
.nav-next a.focus:before {
	color: orangered;
}
/*--------------------------------------------------------------
### Social Menu
--------------------------------------------------------------*/
.container-social-menu {
	position: fixed;
	top: 50%;
	margin-top: -50px;
	direction: ltr;
	left: 0px;
	z-index: 999999;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
.container-social-menu.active {
	top: 45%;
}
.container-social-menu button {
	background: #333;
	color: white;
	width: 50px;
	width: 3.125rem;
	height: 50px;
	height: 3.125rem;
	z-index: 9999;
}
.container-social-menu button:focus,
.container-social-menu button.focus {
	-webkit-box-shadow: inset 0px 0px 8px #00aaff;
	   -moz-box-shadow: inset 0px 0px 8px #00aaff;
	        box-shadow: inset 0px 0px 8px #00aaff;
	-webkit-box-shadow: inset 0rem 0rem 0.5rem hsl(200, 100%, 50%);
	   -moz-box-shadow: inset 0rem 0rem 0.5rem hsl(200, 100%, 50%);
	        box-shadow: inset 0rem 0rem 0.5rem hsl(200, 100%, 50%);
}
.container-social-menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.container-social-menu.active ul li {
	top: 0;
	height: 50px;
	height: 3.125rem;
}
.container-social-menu ul li{
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
	position: relative;
	top: -50px;
	top: -3.125rem;
	height: 0px;
}
/* .container-social-menu.active ul li:hover,
.container-social-menu.active ul li:focus,
.container-social-menu.active ul li.focus{
} */
.container-social-menu ul li a:before{
	position: absolute;
	top: 0px;
	left: 0px;
	content:'\f0c0';
	font-family: fontAwesome;
	display: inline-block;
	vertical-align: top;
	width: 50px;
	width: 3.125rem;
	height: 50px;
	height: 3.125rem;
	padding: 0px 10px;
    padding: 0px 0.625rem;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-border-radius: 0.625rem;
	   -moz-border-radius: 0.625rem;
	        border-radius: 0.625rem;
	color: white;
	font-size: 30px;
	font-size: 1.875rem;
	-webkit-transition: .3s;
	   -moz-transition: .3s;
	     -o-transition: .3s;
	        transition: .3s;
}
.container-social-menu ul li a:hover:before{
	text-shadow: 2px 2px 3px #222;
	padding: 0px 9px;
	text-shadow: .125rem .125rem .1875rem hsl(0, 0%, 13%);
	padding: 0rem .5625rem;
	line-height: 1.55;
	font-size: 31px;
	font-size: 1.9375rem;
}

.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }
.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; background: orangered; padding: 0px 6px; padding: 0rem 0.375rem; }
.menu-social li a[href*="plus.google.com"]:hover:before {
	padding: 0px 5px;
	padding: 0rem 0.3125rem;
}
.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-social li a[href*="github.com"]::before { content: '\f09b'; }
.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }
.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; background: -webkit-gradient(linear, left top, left bottom, from(blue), color-stop(red), to(yellow)); background: -webkit-linear-gradient(blue, red, yellow); background: -moz-linear-gradient(blue, red, yellow); background: -o-linear-gradient(blue, red, yellow); background: linear-gradient(blue, red, yellow);}
.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-social li a[href*="telegram.me"]::before { content: '\f2c6'; background: #2F92FE;}
.menu-social li a[href*="stackoverflow.com"]::before { content: '\f16c'; background: orange;}

@media screen and (max-width: 800px) and (max-width: 50rem) {
	.container-social-menu {
		top: 0%;
		opacity: .7;
		margin-top: 0;
	}
	.container-social-menu.active {
		top: 0%;
		opacity: 1;
	}
	.container-social-menu ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.container-social-menu.active ul li {
		top: 0;
		height: 50px;
		height: 3.125rem;
	}
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.pagination {
/* 	background: yellow; */
text-align: center;
}
.pagination .nav-links {
/* 	background: green; */
}
.pagination .nav-links a ,
.pagination .nav-links a:link {
	color: #004d80;
	margin: 0px 5px;
	padding: 0px 10px;
	background: #b5e6ff;
	-webkit-transition:background .15s, color .15s;
	   -moz-transition:background .15s, color .15s;
	     -o-transition:background .15s, color .15s;
	        transition:background .15s, color .15s;
}
.pagination .nav-links a:hover ,
.pagination .nav-links a:focus {
	background: #70ccfb;
	color: #003456;
}
.pagination .nav-links .current {
/* 	text-decoration: underline; */
	font: oblique 120%/0 cochin, koodak, sans-serif;
	margin: 0px 5px;
	padding: 0px 10px;
	background: #0af;
	color: white
}
.pagination .nav-links .prev ,
.pagination .nav-links .next {
	margin: 0px !important;
	padding: 0px !important;
	line-height: 0;
	background: transparent !important;
}
.pagination .nav-links .prev:before ,
.pagination .nav-links .next:after {
	display: inline-block;
	font: 100%/0 cochin, fontawesome, koodak, sans-serif;
	color: #004d80;
}
.pagination .nav-links .next:after {
	content: '\f053';
	margin-right: 10px;
}

.pagination .nav-links .prev:before {
	content: '\f054';
	margin-left: 10px;
}
.pagination .nav-links .prev:hover ,
.pagination .nav-links .prev:focus ,
.pagination .nav-links .prev.focus ,
.pagination .nav-links .next:hover ,
.pagination .nav-links .next:focus ,
.pagination .nav-links .next.focus ,
.pagination .nav-links .prev:hover:before ,
.pagination .nav-links .prev:focus:before ,
.pagination .nav-links .prev.focus:before ,
.pagination .nav-links .next:hover:after ,
.pagination .nav-links .next:focus:after ,
.pagination .nav-links .next.focus:after {
	color: orangered;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	   -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
.footer-menu {
	display: block;
	text-align: center;
}
.footer-menu ul {
	margin: 0;
	padding: 0;
}
.footer-menu li {
	display: inline-block;
	margin-right: 10px;
	border-left: 1px dotted white;
	padding-left: 10px;
}
.footer-menu ul li:last-child {
	border-left: none;
}
.footer-menu a {
	display: block;
	padding: 0px 5px;
	color: white;
}
.footer-menu a:hover ,
.footer-menu a:focus ,
.footer-menu a.focus {
	color: lightgreen;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
	/* border: 1px solid; */
	/* border-color: #c4ebff #94dbff #5cc9ff; */
	/*border-radius: 10px;*/
}
.content-area .widget {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	color: #0af;
}
.content-area .widget h2 {
	border-bottom: 1px solid #0af;
}
.content-area .widget ul li {
	border-bottom: 1px solid transparent;
}
.content-area .widget ul li a {
	font: 100%/1 cochin, fontawesome, koodak, sans-serif;
	color: #c700ff;
	line-height: 1.5;
}
.content-area .widget ul li a:hover ,
.content-area .widget ul li a:focus ,
.content-area .widget ul li a.focus {
	color: #ff0063;
}
.content-area .widget ul li:hover ,
.content-area .widget ul li:focus ,
.content-area .widget ul li.focus {
	color: #ff0063;
	border-bottom: 1px solid #a8a6f5;
}
.content-area .widget ul li a:before {
	font: 110%/1 cochin, fontawesome, koodak, sans-serif;
	line-height: 0;
	content: '\f044';
	display: inline-block;
	padding-left: 10px;
}
.widget {
	padding: 0 5px;
	padding: 0 .3125rem;
	background: white;
	/* 	box-shadow: inset 0px 0px 2px orangered;
	box-shadow: inset 0px 0px .125rem orangered; */
	margin: 0 0 .8em;
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: .3125rem .3125rem 0rem 0rem; 
	   -moz-border-radius: .3125rem .3125rem 0rem 0rem; 
	        border-radius: .3125rem .3125rem 0rem 0rem; 
	min-width: 100%;
	word-wrap: break-word;
	/* box-shadow: 0px 0px 1px black; */
	-webkit-box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	   -moz-box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	        box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	border: 1px solid;
	/* border-color: #afafaf #b9b9b9 #949494; */
	border-color: #add8ff #6acbfb #1ab2ff;
	border-color: hsl(209, 100%, 84%) hsl(200, 95%, 70%) hsl(200, 100%, 55%);
	/* 	border-right: 2px solid orangered; */
}


.widget .search-form {
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	padding: .3125rem;
}

.widget .search-field {
	width: -webkit-calc(100% - 40%);
	width: -moz-calc(100% - 40%);
	width: calc(100% - 40%);
}

.widget .search-submit {
	width: -webkit-calc(100% - 62%);
	width: -moz-calc(100% - 62%);
	width: calc(100% - 62%);
}

.widget .widget-title {
	/* 	background: orangered; */
	color: #007cff;
	/* border-bottom: 5px solid orangered; */
	padding: 5px;
	padding: .3125rem;
	/* 	border-radius: 15px 15px 0 0;
	border-radius: .9375rem .9375rem 0 0; */
	text-align: center;
	font-family: 'titr', 'magnolia', sans-serif, 'koodak';
	}
.widget a {
	display: block;
}
.widget ul {
	padding: 5px 0px;
	padding: .3125rem 0rem;
	margin: 0px;
}
.widget ul li {
/* 	border-right: 4px solid #0af;
	border-right: .25rem solid #0af; */
	margin: 0px 1px;
	margin: 0rem .0625rem;
	position: relative;
	padding-right: 5px;
	padding-right: .3125rem;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
	border-width: 0px 0px 1px 0;
	border-style: solid;
	border-color: #d0d0d0;
}
.widget ul li:first-child {
	border-width: 1px 0px 1px 0px;
}
.widget ul li a {
	line-height: 2;
	padding: .7rem 0;
}
.widget ul li:hover a {

}
.widget ul li:hover {
/* 	border-right: 4px solid #0e5;
	border-right: .25rem solid #0e5;
	padding-right: 5px;
	padding-right: .3125rem; */
	background: #d4f0ff;
}
.widget li li {
	margin: auto -4px;
	margin: auto -.25rem;
}
.widget_categories a,
.widget_categories ul li,
.widget_categories ul li:hover {
	border: none;
}
.widget_categories ul li a {
	padding: .7rem 0;
}
.widget_categories ul li a:before {
	display: inline-block;
	margin-left: 5px;
	content: '\f07b';
	font: 100%/0 fontawesome;
}
.widget_categories ul li a:hover:before {
	content: '\f07c';
	margin-right: -3px;
/* 	color: #2a3b4c; */
}

.widget_recent_entries a,
.widget_recent_entries ul li,
.widget_recent_entries ul li:hover {
	border: none;
}
.widget_recent_entries ul li a:before {
	display: inline-block;
	margin-left: 5px;
	content: '\f040';
	font: 120%/1 fontawesome;
}
/*.widget_recent_entries ul li a {
	line-height: 1.8;
	padding: .3rem 0;
}*/
.widget_recent_entries ul li a:hover:before {
/* 	color: #0e5; */
}
.widget_archive a,
.widget_archive ul li,
.widget_archive ul li:hover {
	border: none;
}
.widget_archive ul li a {
	padding: .7rem 0;
}
.widget_archive ul li a:before {
	display: inline-block;
	margin-left: 5px;
	content: '\f274';
	font: 110%/0 fontawesome;
}
.widget_archive ul li a:hover:before {
/* 	color: #0e5; */
}
/*.widget_pages ul li{
	position: relative;
}
.widget_pages ul li a{
	padding: 20px 5px;
	border: solid;
	border-color: #84cff5 #0af #0479b3;
	border-width: 4px 10px;
	line-height: 0;
}
.widget_pages li a:after {
	display: none;
}
.widget_pages li.page_item_has_children {*/
/* 	line-height: 0; */
/*}
.widget_pages li.page_item_has_children > a:before {
	display: inline-block;
	content: "\f067" ;
	font: 100%/0 fontawesome;
	transition: transform .3s;
	padding-left: 5px;
	border-radius: 50%;
}
.widget_pages li.page_item_has_children:focus > a:before ,
.widget_pages li.page_item_has_children.focus > a:before {
	transform: rotate(-45deg);
}
.widget_pages ul li ,
.widget_pages ul li:hover ,
.widget_pages ul li:focus ,
.widget_pages ul li.focus {
	border: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
.widget_pages ul li ul ,
.widget_pages ul li li ul {
	transition: max-height 1s;
	background: #bef7ff;
	max-height: 0px;
	overflow: hidden;
	padding: 0;
}
.widget_pages ul li:focus > ul ,
.widget_pages ul li.focus > ul ,
.widget_pages ul li:focus li:focus ul ,
.widget_pages ul li.focus li.focus ul {
	background: #bef7ff;
	max-height: 999px;
}*/
/* .widget_pages ul li:nth-child(1n) a {
	border-color: #ffc1c1 #f44 #a60000;
}
.widget_pages ul li:nth-child(2n) a {
	border-color: #ffc1f5 #ff44d7 #a6006b;
}
.widget_pages ul li:nth-child(3n) a {
	border-color: #d5c1ff #8344ff #3100a6;
}
.widget_pages ul li:nth-child(4n) a {
	border-color: #c1f1ff #44b1ff #0069a6;
}
.widget_pages ul li:nth-child(5n) a {
	border-color: #c1fff9 #44f6ff #00a6a6;
}
.widget_pages ul li:nth-child(6n) a {
	border-color: #c1ffd3 #44ff8f #00a642;
}
.widget_pages ul li:nth-child(7n) a {
	border-color: #fcffc1 #ebff44 #9ca600;
}
.widget_pages ul li:nth-child(8n) a {
	border-color: #ffe5c1 #ffac44 #a66400;
} */

.widget_recent_comments ul li,
.widget_recent_comments ul li:hover,
.widget_recent_comments ul li:focus,
.widget_recent_comments ul li.focus {
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.widget_recent_comments ul li{
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	display: block;
	padding: .3rem 0;
	line-height: 1.8;
}

.widget_recent_comments li:before {
	content: ' \f27a ';
	font-family: fontawesome;
	display: inline-block;
	padding: 0px 5px;
	padding: 0rem .3125rem;
	color: #4169e1;
	-webkit-transition: color .3s;
	   -moz-transition: color .3s;
	     -o-transition: color .3s;
	        transition: color .3s;
}

.widget_recent_comments li:hover:before,
.widget_recent_comments li:focus:before,
.widget_recent_comments li.focus:before {
	color: #00447d;
}
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
	width: 100%;
}

@media screen and (max-width: 800px) and (max-width: 50rem) {
	.widget {
		min-width: 100%;
	}
}
/*--------------------------------------------------------------
## Custom Widgets
--------------------------------------------------------------*/

#wp-calendar {
	font-family: 'magnolia', 'koodak';
	text-align: center;
	border-spacing: 3px;
	border-spacing: .1875rem;
	border-collapse: separate;
	border: none;
	line-height: 0;
}

#wp-calendar a ,
#wp-calendar tbody ,
#wp-calendar td ,
#wp-calendar th {
	padding: 20px 0;
	padding: 1.25rem 0;
}

#wp-calendar th {
	-webkit-box-shadow: inset 0px 0px 1px 0px ;
	   -moz-box-shadow: inset 0px 0px 1px 0px ;
	        box-shadow: inset 0px 0px 1px 0px ;
	background: #ddd;
	border-bottom: 3px solid #0af;
}
#wp-calendar td {
	-webkit-box-shadow: inset 0px 0px 1px 0px #007eff;
	   -moz-box-shadow: inset 0px 0px 1px 0px #007eff;
	        box-shadow: inset 0px 0px 1px 0px #007eff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
#wp-calendar tr {
	background: whitesmoke;
}
#wp-calendar a {
	margin: -20px 0;
	margin: -1.25rem 0;
	display: block;
	background: #6acbfb;
	background: hsl(200, 95%, 70%);
	color: #222;
	color: hsl(0, 0%, 13%);
	-webkit-transition: background .2s, color .2s;
	   -moz-transition: background .2s, color .2s;
	     -o-transition: background .2s, color .2s;
	        transition: background .2s, color .2s;
}
#wp-calendar a:hover,
#wp-calendar a:focus,
#wp-calendar a.focus {
	background: #00aaff;
	background: hsl(200, 100%, 50%);
	color: #fff;
	color: hsl(0, 0%, 100%);
}
#wp-calendar tbody {
	background: #eee;
	text-align: center;
	font-family: 'koodak';
}
#wp-calendar caption {
	margin-top: 5px;
	margin-top: .3125rem;
	padding: 50px 0;
	padding: 3.125rem 0;
	background: #0af;
	background: hsl(200, 100%, 50%) linear-gradient(hsl(200, 100%, 50%) 55%, hsl(200, 100%, 60%) 45%);
	border-bottom: 3px solid #1ab2ff;
	border-bottom: 3px solid hsl(200, 100%, 55%);
	color: #fff;
	color: hsl(0, 0%, 100%);
	font: 120%/0 koodak, titr, sans-serif;
}
#wp-calendar tfoot {
	background: transparent;
	text-align: center;
}
#wp-calendar thead{
	background: aquamarine;
}

/*--------------------------------------------------------------
## Custom footer Widgets
--------------------------------------------------------------*/

#footer-sidebar {
	margin: 0 auto;
	border: none;
}

#footer-sidebar .widget {
	width: 300px;
	background: #222;
	border: 1px solid black;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

#footer-sidebar .widget-title {
	background: black;
}

#footer-sidebar .widget a {
	display: inline-block;
}

#footer-sidebar #wp-calendar a {
	display: block;
}

#footer-sidebar .widget a:hover,
#footer-sidebar .widget a:focus,
#footer-sidebar .widget a.focus {
	color: lightgreen;
}

#footer-sidebar #wp-calendar a:hover,
#footer-sidebar #wp-calendar a:focus,
#footer-sidebar #wp-calendar a.focus {
	color: #222;
}

#footer-sidebar #wp-calendar th,
#footer-sidebar #wp-calendar caption ,
#footer-sidebar #wp-calendar thead ,
#footer-sidebar #wp-calendar td {
	background: black;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	border: 1px solid #444;
}

#footer-sidebar #wp-calendar th {
	color: white;
	background: #555;
	border-bottom: 4px solid #aaa;
}

#footer-sidebar #wp-calendar caption {
	color: white;
	border: none;
}
#footer-sidebar .widget_pages a {
	border-width: 1px 3px;
	border-style: solid;
	border-color: #0af;
	width: 100%;
}

@media screen and (max-width: 800px) and (max-width: 50rem) {
	#footer-sidebar .widget {
		width: 100%;
	}
}


/*--------------------------------------------------------------
# Custom Header
--------------------------------------------------------------*/
.site-header {
	background: white;
    border: 1px solid;
    border-color: #6acbfb #8ad8ff #88d7ff;
    border-radius: 0 0 5px 5px;
}
.site-name-show {
	line-height: .5;
	margin-top: -24px;
	margin-bottom: 0px;
	direction: ltr;
	font: 140%/.5 cochin, magnolia;
}
.site-name-show .site-name {
	color: #883bea;
	text-shadow: 0px 0px 0px black;
}
.site-name-show .site-phrase {
	color: lightsalmon;
	text-shadow: 0px 0px 2px black;
}
.header-background-image {
	-moz-background-size: 100% 100% !important;
	  -o-background-size: 100% 100% !important;
	     background-size: 100% 100% !important;
}

.header-background-image .site-title,
.header-background-image .site-description {
	padding: 0px 10px;
	padding: 0rem .6rem;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-border-radius: .3rem;
	   -moz-border-radius: .3rem;
	        border-radius: .3rem;
}

.header-background-image .site-title {
	background: rgba(250, 250, 250, .5);
	display: inline-block;
}
/*
	.site-branding .site-description {
		width: 50%;
		margin: 0 auto;
		text-align: justify;
		color: #006bff;
		text-shadow: 0px 0px 0px black;
		font-weight: 900;
	}
*/
.header-image {
	margin: 0;
}
.header-image img{
	margin: 0 auto;
	display: block;
}

.site-branding{
	position: relative;
	padding: 3px 10px;
	padding: .2rem .65rem;
	max-width: 100%;
	font-size: 1.4rem;
	line-height: 1.2;
/* 	border-bottom: 5px solid #0af; */
}

.site-branding .site-description {
	width: 50%;
	margin: 24px 5% 0 auto;
	margin: 1.5rem 5% 0 auto;
	text-align: justify;
	color: #00aaff;
	color: hsl(200, 100%, 50%);
	text-shadow: 0px 0px 0px black;
	font: 70%/1.2 cochin, title;
}

.site-branding, .site-branding .site-title a,
.site-branding, .site-branding .site-description a {
	font-family: "title";
}
.site-branding .site-title a{
	font-size: 2rem;
	position: relative;
	font-weight: 900;
	/*font-family: andalus;*/
}

.site-branding .site-title a:after {
	line-height: 0;
	display: block;
	position: absolute;
	content: '';
	right: 50%;
	background: orangered;
	height: 1px;
	width: 0%;
	opacity: 0;
	-webkit-transition: all .2s;
	   -moz-transition: all .2s;
	     -o-transition: all .2s;
	        transition: all .2s;
	bottom: 10px;
	margin-top: 10px;
}
.site-branding .site-title a:hover:after {
	width: 100%;
	right: 0%;
	opacity: 1;
	bottom: 0px;
	margin-top: 0px;
}

.site-branding a:after {
}

.site-branding a:hover:after {
}

/* Header responsive */
@media screen and (max-width: 800px) and (max-width: 50rem) {
    .title-box {
        max-width: 100%;
        margin: 0;
    }
	.site-branding .site-description {
		margin: 24px 0% 24px auto;
		margin: 1.5rem 0% -1.6rem auto;
		font: 70%/1.2 cochin, title;
	}
	.site-branding .site-name-show {
		margin-top: 1px;
		margin-bottom: 0px;
		margin-top: .1rem;
		margin-bottom: 0rem;
	}
	.header-image {
		margin-top: 0rem;
		margin-bottom: -8rem;
	}
}
@media screen and (max-width: 425px) and (max-width: 26.5625rem) {
	.header-image {
		margin-top: 0rem;
		margin-bottom: -5rem;
	}
}
@media screen and (max-width: 360px) and (max-width: 22.5rem) {
    .title-box {
        max-width: 100%;
        margin: 0;
    }
	.site-branding .site-description {
		width: 40%;
		margin: 24px 0% 24px auto;
		margin: 1.5rem 0% -1.5rem auto;
		font: 70%/1.2 cochin, title;
	}
	.site-branding .site-title {
		margin-top: 5px;
		display: inline-block;
		float: right;
		margin-left: 10px;
	}
	.site-branding .site-name-show {
		margin-top: 1px;
		margin-bottom: 0px;
		margin-top: .1rem;
		margin-bottom: -.05rem;
	}
	.header-image {
		margin: auto;
	}
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Custom Page Title
--------------------------------------------------------------*/

.page-title {
	text-align: center;
}
.page-title:before,
.page-title:after {
	color: green;
	display: inline-block;
	font: 100%/1 Cochin, koodak, fontawesome;
}
.page-title:before {
	content: '  \f002  ' open-quote;
}
.page-title:after {
	content: close-quote;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.entry-header {
	/* 	background: #0af; */
	background: white;
	padding: 5px;
	/* 	box-shadow: inset 0px 0px 5px 1px lightblue; */
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: .3125rem .3125rem 0rem 0rem; 
	   -moz-border-radius: .3125rem .3125rem 0rem 0rem; 
	        border-radius: .3125rem .3125rem 0rem 0rem; 
	/*border-width: 1px 1px 5px;
	border-style: solid;
    border-color: #aee4ff #95d9fb #0af;*/
	color: #333;
	position: relative;
}
.entry-title a{
	display: inline-block;
	color: #0af;
}
.entry-header i {
	position: absolute;
	left: 30px;
	line-height: 0;
	top: 50%;
	font-size: 140%;
}

.entry-content {
/*   box-shadow: inset 0px 0px 2px #0af !important; */
	padding: 5px;
	/*border: 1px solid;
	border-color: transparent #aee4ff #9bdeff;*/
}

.entry-title a {
	color: #0af;
}

.entry-meta {
	border-color: #9edfff #95d9fb #0af;
	border-style: solid;
	border-width: 1px 1px 2px;
	-webkit-box-shadow: 0px 2px 2px 0px #0af;
	   -moz-box-shadow: 0px 2px 2px 0px #0af;
	        box-shadow: 0px 2px 2px 0px #0af;
	padding: 0 10px;
	padding: 0 .625rem;
    background: #d5f1ff;
}
.entry-footer {
	clear: both;
	border-color: #8dd9ff #95d9fb #75d1ff;
	border-style: solid;
	border-width: 1px 1px 1px;
	-webkit-box-shadow: 0px -1px 1px 0px #0af;
	   -moz-box-shadow: 0px -1px 1px 0px #0af;
	        box-shadow: 0px -1px 1px 0px #0af;
	padding: 0 10px;
	background: #d5f1ff;
	margin-top: 10px;
}
.entry-footer > span{
	display: block;
}
.entry-meta > span {
	display: inline-block;
	margin-left: 10px;
	margin-left: .625rem;
}

.entry-content .continue-link {
	background: #009aff;
	color: white;
	padding: 10px 20px 10px 5px;
	display: inline-block;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
    margin-bottom: 8px;
    margin-bottom: .5rem;
}
.entry-content .continue-link:after {
	content: '\f100';
	font: 100%/1 cochin, fontawesome;
	padding-right: 5px;
	position: relative;
	left: -5px;
	opacity: 0;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}
.entry-content .continue-link:hover {
	padding: 10px 15px 10px 10px;
}
.entry-content .continue-link:hover:after {
	left: 0px;
	opacity: 1;
}
.entry-content .continue-link:focus ,
.entry-content .continue-link.focus {
	background: orangered;
	padding: 10px 15px 10px 10px;
}
.entry-content .continue-link:focus:after ,
.entry-content .continue-link.focus:after {
	left: 0px;
	opacity: 1;
}
.sticky, .post, .hentry {
	display: block;
	background: white;
/* 	box-shadow: inset 0px 0px 2px #0af;
	border-radius: 25px 25px 0px 0px; */
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: .3125rem .3125rem 0rem 0rem; 
	   -moz-border-radius: .3125rem .3125rem 0rem 0rem; 
	        border-radius: .3125rem .3125rem 0rem 0rem; 
	-webkit-box-shadow: 0px 0px 1px #00aaff; 
	   -moz-box-shadow: 0px 0px 1px #00aaff; 
	        box-shadow: 0px 0px 1px #00aaff;
	-webkit-box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	   -moz-box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	        box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	border: 1px solid;
	border-color: #add8ff #6acbfb #1ab2ff;
	border-color: hsl(209, 100%, 84%) hsl(200, 95%, 70%) hsl(200, 100%, 55%);

}

.hentry {
	margin: 0 0 13px;
	margin: 0 0 .8125em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	/*margin: 0 0 13px;
	margin: 0 0 .8125em;*/
	background: white;
	background: hsl(0, 0%, 100%);
}

.page-links {
	clear: both;
	margin: 24px 0 0;
	margin: 1.5em 0 0;
}

.page-links a{
	padding: 0px 10px;
	line-height: 2;
	background: #d0efff;
	text-decoration: underline;
	transition: background .3s, color .3s;
}
.page-links a:hover{
	background: #8bd8ff;
}
.page-links a:focus{
	background: #33baff;
	color: white;
}
.tags-links,
.cat-links{
	margin-top: 8px;
	margin-top: .5rem;
}

.cat-links ul ,
.tags-links ul {
	margin: 0;
	padding: 0;
}

.cat-links li ,
.tags-links li {
	display: inline-block;
	margin-left: .5rem;
}
.cat-links:before {
	display: inline-block;
	content: '\f187';
	margin: 0px 5px;
	margin: 0rem .3125rem;
	font-family: fontawesome, koodak;
}
.tags-links:before {
	display: inline-block;
	content: '\f02c';
	margin: 0px 5px;
	margin: 0rem .3125rem;
	font-family: fontawesome, koodak;
}

.cat-links a, .cat-links a:link ,
.cat-links a:before
.tags-links a, .tags-links a:link ,
.tags-links a:before {
	color: #007eff;
	direction: ltr;
}

.cat-links a:before {
	display: inline-block;
	content: '\f07b';
	margin: 0px 5px;
	margin: 0rem .3125rem;
	font-family: fontawesome, koodak;
}
.tags-links a:before {
	display: inline-block;
	content: '\f02b';
	margin: 0px 5px;
	margin: 0rem .3125rem;
	font-family: fontawesome, koodak;
}
.tags-links a:hover , .tags-links a:focus ,
.tags-links a:hover:before , .tags-links a:focus:before {
	color: #003367;
	direction: ltr;
}

.single-post-thumbnails{
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
	margin-top: 10px;
}
.single-post-thumbnails img {
	/*border: 1px solid #555;
	border-radius: 10px;
	padding: 5px;*/
	vertical-align: middle;
}

/*@media screen and (max-width: 22.5rem) {
	.entry-header {
		border-radius: 0;
	}
}*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.comment-body {
	position: relative;
}
.bypostauthor .comment-body:after {
	display: block;
	line-height: 0;
	content: "Ù†ÙˆÛŒØ³Ù†Ø¯Ù‡";
	text-align: left;
	text-decoration: double underline;
	color: #0af;
	position: absolute;
	top: 1em;
	left: 1em;
}
/*--------------------------------------------------------------
### Custom Comments
--------------------------------------------------------------*/
.comment-respond {
	background: white;
	padding: 5px;
	padding: .3125rem;
	border: 1px solid;
	border-color: #9edfff #75d1ff #00aaff;
	border-color: hsl(200, 100%, 81%) hsl(200, 100%, 73%) hsl(200, 100%, 50%);
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: .3125rem .3125rem 0rem 0rem; 
	   -moz-border-radius: .3125rem .3125rem 0rem 0rem; 
	        border-radius: .3125rem .3125rem 0rem 0rem; 
}
.comments-title {
	color: green;
}
.comments-title span {
	color: #222;
}
.comment-list, .comment-list li{
	list-style: none;
	margin: 0;
}
.comment-body ol li {
	list-style: decimal;
	list-style-position: inside;
}
.comment-body .comment-author {
	padding: 10px;
}
.comment-author .comment-meta {
	margin-top: -100px;

}
.comment-author .comment-meta,
.comment-author .comment-metadata {
/* 	background: yellow; */
	margin-right: 120px;
	padding-right: -120px;
	line-height: 2.7;
}
.comment-body .comment-author img{
	vertical-align: middle;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	/*border-radius: .625rem;*/
	border: 1px solid #888;
	border: .0625rem solid hsl(0, 0%, 53%);
	margin: 5px;
	width: 100px;
	height: 100px;
	width: 6.25rem;
	height: 6.25rem;
}
.comment-body .comment-metadata:before ,
.comment-body .comment-metadata:after {
	color: #00f;
}
.comment-body .comment-metadata:before {
	content: '[';
	display: inline-block;
}
.comment-body .comment-metadata:after {
	content: ']';
	display: inline-block;
}
li.comment .comment-body {
	background: white;
	margin: 16px 0;
	margin: 1rem 0;
	border: 1px solid #0af;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-border-radius: .625rem;
	   -moz-border-radius: .625rem;
	        border-radius: .625rem;
	-webkit-box-shadow: 0px 0px 10px 0px #0af;
	   -moz-box-shadow: 0px 0px 10px 0px #0af;
	        box-shadow: 0px 0px 10px 0px #0af;
}
.comment-content {
	border-top: 3px #0af solid;
	border-top: .1875rem hsl(200, 100%, 50%) solid;
	width: 100%;
	padding: 10px;
	padding: .625rem;
	padding-right: 60px; 
	padding-right: 3.75rem; 
    margin-top: 20px;
    margin-top: 1.25;
}
.comment-body .reply {
	margin: -1.5em 0 0;
	padding: 0 1em 1em;
	text-align: left;
}
.comment-body .reply a{
	line-height: 0;
	border: 1px solid green;
	padding: 20px 32px;
	padding: 1.25rem 2rem;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-border-radius: .625rem;
	   -moz-border-radius: .625rem;
	        border-radius: .625rem;
	background: #ffffff;
	display: inline-block;
	-webkit-box-shadow: inset 0px 0px 3px 0px green;
	   -moz-box-shadow: inset 0px 0px 3px 0px green;
	        box-shadow: inset 0px 0px 3px 0px green;
	color: #333;
	position: relative;
	-webkit-transition: padding .3s;
	   -moz-transition: padding .3s;
	     -o-transition: padding .3s;
	        transition: padding .3s;
}
.comment-list > :nth-child(even) .reply a {
	background: #017c86;
	color: #fff;
}
.comment-body .reply a:hover{
	padding: 20px 40px 20px 24px;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}
.comment-body .reply a:before{
	content: '\f044';
	font-family: fontawesome;
	display: inline-block;
	right: 0rem;
	font-size: 18px;
	font-size: 1.125rem;
	position: absolute;
	opacity: 0;
	-webkit-transition: right .3s, opacity .3s;
	   -moz-transition: right .3s, opacity .3s;
	     -o-transition: right .3s, opacity .3s;
	        transition: right .3s, opacity .3s;
}
.comment-body .reply a:hover:before{
	right: .5rem;
	opacity: 1;
}
@media screen and (max-width: 800px) and (max-width: 50rem) {
	ul,
	ol,
	ol.children,
	ul.children,
	li {
		padding: 0;
		margin: 0;
		list-style-position: inside;
	}
	li.comment {
		margin: 16px 0;
		margin: 1rem 0;
	}
	.comments-area ol,
	.comments-area ul{
		counter-reset: comment-number;
	}
	.comments-area ol .comment .comment-body:before {
		display: block;
		counter-increment: comment-number;
		content: counters(comment-number,  '-');
		border-width: 1px 1px 5px 1px;
		border-color: #999;
		border-style: dotted dotted solid ;
		padding: .3rem 1rem;
		font-size: 20px;
		font-size: 1.25rem;
		background: whitesmoke;
		-webkit-border-radius: 10px 10px 0 0;
		   -moz-border-radius: 10px 10px 0 0;
		        border-radius: 10px 10px 0 0;
		-webkit-border-radius: .625rem .625rem 0 0;
		   -moz-border-radius: .625rem .625rem 0 0;
		        border-radius: .625rem .625rem 0 0;
		text-align: center;
		margin-bottom: 1rem;
	}
	ol.comment-list li.comment:nth-child(even) .comment-body {
		background: #d9f9ff;
		background: hsl(189, 100%, 93%);
		-webkit-border-radius: 10px;
		   -moz-border-radius: 10px;
		        border-radius: 10px;
		-webkit-border-radius: .625rem;
		   -moz-border-radius: .625rem;
		        border-radius: .625rem;
	}
	.comment-list > :nth-child(even) .reply a {
		margin-right: 0px;
	}
	.comment-body .comment-content {
		padding: 10px;
	}
}

/*--------------------------------------------------------------
### Comments Respond
--------------------------------------------------------------*/

.comment-respond h3{
	font-family: 'magnolia', 'title', cursive;
	display: 100%;
}
.comment-respond h3 small {
	display: block;
	float: left;
}
.comment-respond h3 small a {
	color: orangered;
	text-align: left;
}
.comment-respond h3 small a:hover,
.comment-respond h3 small a:focus,
.comment-respond h3 small a.focus {
	color: red;
}
.comment-respond .comment-form .comment-notes{
	color: green;
}
.comment-respond .comment-form .required{
	color: red;
}
.comment-respond .comment-form label{
	display: inline-block;
	min-width: 5em;
}
.comment-respond .comment-form .comment-form-comment label {
	color: #0af;
}
.comment-awaiting-moderation {
	color: white;
	background: green;
	margin: 0;
	padding: 5px;
	padding: .3125rem;
	font-family: 'magnolia', 'title', cursive;
}
.comment-awaiting-moderation:before {
	content: 'Ø¯ÙˆØ³Øª Ø¹Ø²ÛŒØ²';
	margin-left: 10px;
	margin-left: .625rem;
	font-weight: bold;
}

/*--------------------------------------------------------------
## Custom Table
--------------------------------------------------------------*/

table {
	border: 1px solid #b8deff;
}
table td,
table th,
table tbody {
	padding: 5px;
}
table thead tr {
	border-bottom: 4px solid #51c6ff;
}
table tbody > tr {
	-webkit-transition: background .4s;
	   -moz-transition: background .4s;
	     -o-transition: background .4s;
	        transition: background .4s;
}
table tbody > tr:nth-child(even) {
	background: #d6f5ff;
}
/*--------------------------------------------------------------
## Custom Search & Result
--------------------------------------------------------------*/
.search-form .search-icon {
	line-height: 0;
	background: transparent;
	position: relative;
	border: 1px solid #0af;
	border: .0625rem solid hsl(200, 100%, 50%);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	padding: 4px 4px;
 	padding: .25rem .25rem; 
	text-align: center;
	margin-top: 1px;
	margin-top: .0625rem;
	width: 25px;
	width: 1.5625rem;
	height: 25px;
	height: 1.5625rem;
	vertical-align: middle;
	color: #0af;
	color: hsl(200, 100%, 50%);
	cursor: pointer;
	-webkit-transition: color .15s, border .15s;
	   -moz-transition: color .15s, border .15s;
	     -o-transition: color .15s, border .15s;
	        transition: color .15s, border .15s;
	margin-left: 2px;
 	margin-left: .125rem; 
}
.search-form .search-icon:hover {
	border: 1px solid #007eff;
	border: .0625rem solid hsl(210, 100%, 50%);
	color: #007eff;
	color: hsl(210, 100%, 50%);
}
.search-form .search-icon i {
	vertical-align: middle;
	line-height: 0;
padding: 0;
margin: 0;
transform-origin: 50% 50%;
}
/*.search-form .search-icon:focus ,
.search-form .search-icon.focus {
	color: #00ff4c;
}*/
.search-form .search-field {
	width: 100%;
	margin-left: -35px;
	margin-left: -2.1875rem;
}
.search-form .search-icon:focus {
	margin-left: 1px;
	margin-left: .0625rem;
}
.not-found span {
	color: green;
}
@media screen and (max-device-width: 800px) and (max-device-width: 50rem) {
	.search-form .search-icon {
		margin-top: 5px;
		margin-top: .3125rem;
	}
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
	margin: 0 auto;
	padding-top: 8px;
	padding-top: .5rem;
	font-size: small;
	font-weight: bold;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
	text-align: center;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: .5rem;
	border: 1px solid #aaa;
	padding: .3rem;
	-webkit-transition: -webkit-border-radius .4s;
	   -moz-transition: -moz-border-radius .4s;
	     -o-transition: border-radius .4s;
	        transition: border-radius .4s;
}
.gallery-item:hover,
.gallery-item:focus,
.gallery-item.focus {
	padding: .3rem;
	-webkit-border-radius: 0 0 8px 8px;
	   -moz-border-radius: 0 0 8px 8px;
	        border-radius: 0 0 8px 8px;
}
.gallery-item img {
	display: block;
	margin: auto;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	max-width: 100%;
	overflow: hidden;
	word-wrap:break-word;
	break-word: all;
	max-height: 0px;
	max-height: 0rem;
	-webkit-transition: max-height .8s;
	   -moz-transition: max-height .8s;
	     -o-transition: max-height .8s;
	        transition: max-height .8s;
	background: #a9e5ff;
	padding: 0;
	-webkit-border-radius: 0 0 8px 8px;
	   -moz-border-radius: 0 0 8px 8px;
	        border-radius: 0 0 8px 8px;
}
.gallery-item:hover .gallery-caption,
.gallery-item:focus .gallery-caption,
.gallery-item.focus .gallery-caption,
.gallery-caption:hover,
.gallery-caption:focus,
.gallery-caption.focus {
	max-height: 500px;
	max-height: 55rem;
}

/*--------------------------------------------------------------
## Horizental Menu
--------------------------------------------------------------*/
.horizental-menu {
	padding: 16px 5px 0px;
	padding: 1rem .3125rem 0rem;
	background: white;
	/* 	box-shadow: inset 0px 0px 2px orangered;
	box-shadow: inset 0px 0px .125rem orangered; */
	margin: 0 0 .8em;
	-webkit-border-radius: 5px 5px 0px 0px;
	   -moz-border-radius: 5px 5px 0px 0px;
	        border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: .3125rem .3125rem 0rem 0rem; 
	   -moz-border-radius: .3125rem .3125rem 0rem 0rem; 
	        border-radius: .3125rem .3125rem 0rem 0rem; 
	min-width: 100%;
	word-wrap: break-word;
	/* box-shadow: 0px 0px 1px black; */
	-webkit-box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	   -moz-box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	        box-shadow: 0px 0px 1px hsl(200, 100%, 50%);
	border: 1px solid;
	/* border-color: #afafaf #b9b9b9 #949494; */
	border-color: #add8ff #6acbfb #1ab2ff;
	border-color: hsl(209, 100%, 84%) hsl(200, 95%, 70%) hsl(200, 100%, 55%);
	/* 	border-right: 2px solid orangered; */
}
.horizental-menu a {
	display: block;
}
.horizental-menu ul {
	padding: 5px 0px;
	padding: .3125rem 0rem;
	margin: 0px;
}
.horizental-menu ul li {
/* 	border-right: 4px solid #0af;
	border-right: .25rem solid #0af; */
	margin: 0px 1px;
	margin: 0rem .0625rem;
	position: relative;
	padding-right: 5px;
	padding-right: .3125rem;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
	border-width: 0px 0px 1px 0;
	border-style: solid;
	border-color: #d0d0d0;
}
.horizental-menu ul li:first-child {
	border-width: 1px 0px 1px 0px;
}
.horizental-menu ul li a {
	line-height: 1;
	padding: .7rem 0;
}
.horizental-menu ul li:hover a {

}
.horizental-menu ul li:hover {
/* 	border-right: 4px solid #0e5;
	border-right: .25rem solid #0e5;
	padding-right: 5px;
	padding-right: .3125rem; */
	background: #d4f0ff;
}
.horizental-menu li li {
	margin: auto -4px;
	margin: auto -.25rem;
}
.horizental-menu ul li{
	position: relative;
}
.horizental-menu ul li a {
	padding: 10px 5px;
	padding: .625rem .3125rem;
	border: solid;
	border-color: #84cff5 #0af #0479b3;
	border-width: 4px 10px;
	border-width: .25rem .625rem;
	line-height: 1.7;
}
.horizental-menu li a:after {
	display: none;
}
.horizental-menu li.menu-item-has-children {
	/* 	line-height: 0; */
}
.horizental-menu li.menu-item-has-children > a:before {
	display: inline-block;
	content: "\f067" ;
	font: 100%/0 fontawesome;
	-webkit-transition: -webkit-transform .5s;
	   -moz-transition: -moz-transform .5s;
	     -o-transition: -o-transform .5s;
	        transition: transform .5s;
	margin-left: 5px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	     -o-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}
.horizental-menu li.menu-item-has-children:focus > a:before ,
.horizental-menu li.menu-item-has-children.focus > a:before {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.horizental-menu ul li ,
.horizental-menu ul li:hover ,
.horizental-menu ul li:focus ,
.horizental-menu ul li.focus {
	border: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
.horizental-menu ul li ul ,
.horizental-menu ul li li ul {
	-webkit-transition: max-height .5s;
	   -moz-transition: max-height .5s;
	     -o-transition: max-height .5s;
	        transition: max-height .5s;
	background: #bef7ff;
	max-height: 0px;
	overflow: hidden;
	padding: 0;
}
.horizental-menu ul li:focus > ul ,
.horizental-menu ul li.focus > ul {
	background: #bef7ff;
	max-height: 999px;
}
.horizental-menu .current_page_item > a:before ,
.horizental-menu .current-menu-item > a:before ,
.horizental-menu .current_page_ancestor > a:before ,
.horizental-menu .current-menu-ancestor > a:before {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.horizental-menu .current_page_item > ul,
.horizental-menu .current-menu-item > ul,
.horizental-menu .current_page_ancestor > ul,
.horizental-menu .current-menu-ancestor > ul {
	max-height: 999px;
}
.horizental-menu .current_page_item ,
.horizental-menu .current-menu-item ,
.horizental-menu .current_page_ancestor ,
.horizental-menu .current-menu-ancestor  {
	background: #bef7ff;
}
.horizental-menu .current_page_item >a,
.horizental-menu .current-menu-item > a,
.horizental-menu .current_page_ancestor > a ,
.horizental-menu .current-menu-ancestor > a  {
	background: #15c2da;
	font-weight: bolder;
	color: white;
}
.horizental-menu ul li:nth-child(1n) a {
	border-color: #ffc1c1 #f44 #a60000;
	border-color: hsl(0, 100%, 88%) hsl(0, 100%, 63%) hsl(0, 100%, 33%);
}
.horizental-menu ul li:nth-child(2n) a {
	border-color: #ffc1f5 #ff44d7 #a6006b;
	border-color: hsl(310, 100%, 88%) hsl(313, 100%, 63%) hsl(321, 100%, 33%);
}
.horizental-menu ul li:nth-child(3n) a {
	border-color: #d5c1ff #8344ff #3100a6;
	border-color: hsl(259, 100%, 88%) hsl(260, 100%, 63%) hsl(258, 100%, 33%);
}
.horizental-menu ul li:nth-child(4n) a {
	border-color: #c1f1ff #44b1ff #0069a6;
	border-color: hsl(194, 100%, 88%) hsl(205, 100%, 63%) hsl(202, 100%, 33%);
}
.horizental-menu ul li:nth-child(5n) a {
	border-color: #c1fff9 #44f6ff #00a6a6;
	border-color: hsl(174, 100%, 88%) hsl(183, 100%, 63%) hsl(180, 100%, 33%);
}
.horizental-menu ul li:nth-child(6n) a {
	border-color: #c1ffd3 #44ff8f #00a642;
	border-color: hsl(137, 100%, 88%) hsl(144, 100%, 63%) hsl(144, 100%, 33%);
}
.horizental-menu ul li:nth-child(7n) a {
	border-color: #fcffc1 #ebff44 #9ca600;
	border-color: hsl(63, 100%, 88%) hsl(66, 100%, 63%) hsl(64, 100%, 33%);
}
.horizental-menu ul li:nth-child(8n) a {
	border-color: #ffe5c1 #ffac44 #a66400;
	border-color: hsl(35, 100%, 88%) hsl(33, 100%, 63%) hsl(36, 100%, 33%);
} 

@media print {
	.content-area:before {
		font: 120%/1 magnolia;
		content: 'http://www.bigprs.com';
		position: fixed;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
		-webkit-transform-origin: bottom left;
		   -moz-transform-origin: bottom left;
		    -ms-transform-origin: bottom left;
		     -o-transform-origin: bottom left;
		        transform-origin: bottom left;
		top: 30pt;
		left: 0pt;
	}
	.content-area {
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
		clear: both;
	}
	.site-main {
		padding: 0;
	}
	.sticky, .post, .hentry {
		border: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
	.header-image ,
	footer ,
	.container-social-menu ,
	.sticky-bar ,
	.main-navigation ,
	.navigation ,
	.widget ,
	.comments-area ,
	.widget-area {
		display: none;
	}
}