/*
 * Theme Name: bigprs
 *
 * Layout: no Sidebar
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

.site-content {
	margin-top: 16px;
	margin-top: 1rem;
}
.content-area {
	width: 100%;
	text-align: justify;
}
.site-main {
	padding: 0px 10px;
	padding: 0rem .6rem;
}
.site-content .widget-area {
	display: none;
}
.site-footer {
	clear: both;
	width: 100%;
	text-align: justify;
	background: #333;
	background: hsl(0, 0%, 20%);
	color: white;
	padding: 5px;
	padding: .3125rem;
	border-top: 3px solid orangered;
	border-top: .1875rem solid orangered;
	margin-top: 10px;
	margin-top: .625rem;
	overflow: hidden;
}

/* Header responsive */
@media screen and (max-width: 50rem) {
	
	.title-box {
		max-width: 100%;
		margin: 0;
	}
}