/*
 * Theme Name: bigprs
 *
 * Layout: Sidebar-Content
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

.site-content {
	margin-top: 16px;
	margin-top: 1rem;
}
.content-area {
	float: right;
	margin-right: -300px;
	margin-right: -18.75rem;
	padding-right: 300px;
	padding-right: 18.75rem;
	width: 100%;
	text-align: justify;
}
.site-main {
	padding-left: 10px;
	padding-left: .6rem;
}
.site-content .widget-area {
	float: left;
	width: 300px;
	width: 18.75rem;
	/*padding: 0px 10px;
	padding: 0rem .6rem;*/
	/*background: white;*/
}
.site-footer {
	clear: both;
	width: 100%;
	text-align: justify;
	background: #333;
	background: hsl(0, 0%, 20%);
	color: white;
	padding: 5px;
	padding: .3125rem;
	border-top: 3px solid orangered;
	border-top: .1875rem solid orangered;
	margin-top: 10px;
	margin-top: .625rem;
	overflow: hidden;
}

/* Header responsive */
@media screen and (max-width: 50rem) {
	
	.content-area {
		float: none;
		clear: both;
		margin: 0px;
		padding: 0px;
	}
  
	.site-content .widget-area {
		float: none;
		clear: both;
		overflow: hidden;
		width: 100%;
		padding: 0px;
		padding: 0rem;
		/*border-top: 5px solid red;*/
	}
	
	.title-box {
		max-width: 100%;
		margin: 0;
	}
	.site-main {
		padding: 0px;
		padding: 0rem;
	}
}